/* Asegurar que el contenedor ocupe toda la altura de la pantalla */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del contenedor */
}

/* Estilo del título */
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Estilo de la descripción */
p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  max-width: 600px;
}

/* Estilo del contenedor de los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilo de los botones */
.consulta-button, .github-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilo del botón de Consulta */
.consulta-button {
  background-color: #4CAF50;
  color: white;
}

/* Hover efecto en el botón de Consulta */
.consulta-button:hover {
  background-color: #45a049;
}

/* Estilo del botón de Github */
.github-button {
  background-color: #333;
  color: white;
}

/* Hover efecto en el botón de Github */
.github-button:hover {
  background-color: #555;
}
