/* Asegura que el body tenga 100vh de alto y use flex para el contenido */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #242424; /* Fondo oscuro */
}

/* Contenedor principal que ocupa toda la pantalla y se alinea en el centro */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Estilos para el componente Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  max-width: 600px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.consulta-button, .github-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.consulta-button {
  background-color: #4CAF50;
  color: white;
}

.consulta-button:hover {
  background-color: #45a049;
}

.github-button {
  background-color: #333;
  color: white;
}

.github-button:hover {
  background-color: #555;
}
